.aside{
    min-width: 200px;
    height: 100%;
    padding-top: 65px;
    background-color: #686c7c;
}

.ant-menu{
    height: 100%;
    /* background: #1890ff !important; */
    /* color: #fff !important; */
}
.ant-menu-submenu-arrow{
    /* background-image: none !important; */
}

.ant-menu-dark{
    background: #686c7c !important;
}

