.aside{
    width: 200px;
    height: 100%;
    transition: all 0.5s;
}

.show-aside{
    width: 100px;
    transition: all 0.5s;
}

.ant-menu{
    height: 100%;
    /* background: #1890ff !important; */
    /* color: #fff !important; */
}
.ant-menu-submenu-arrow{
    /* background-image: none !important; */
}

.ant-menu-dark{
    background: #686c7c !important;
}
.aside-logo{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7571f9;
    color: #fff;
    font-size: 26px;
}

